<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/footer.css">
<hr>
<footer>
    <p>A(n) Adepoju Adeyemi Production</p>
    <p>&copy 2022</p>

</footer>