<nav>
    <div class="navbar-container">
        <div class="logo-container">
            <img class="logo-img" src="images/wave.png" alt="Logo">
        </div>
        <div class="navbar-link-container">
            <a class="navbar-link" href="/">Home</a>
            <a class="navbar-link" href="about">About</a>
            <a class="navbar-link" href="services">Services</a>
            <a class="navbar-link" href="projects">Works</a>
            <a class="navbar-link" href="contact">Contact</a>
        </div>
    </div>

</nav>