<nav>
    <div class="navbar-container">
        <div class="logo-container">
            <img class="logo-img" src="images/wave.PNG" alt="Logo">
        </div>
        <div class="navbar-link-container">

            <!-- used different links for the view templates due to the 
            fact that the about screen has different views housed in it 
        and they are access by giving them id slector as their link url  -->
            <% if (title=='Contact'){  %>
            <a class="navbar-link" href="/">Home</a>
            <a class="navbar-link" href="about">About</a>
            <a class="navbar-link" href="about#services-link">Services</a>
            <a class="navbar-link" href="about#works-link">Works</a>
            <% } else {%>
            <a class="navbar-link" href="/">Home</a>
            <a class="navbar-link" href="#about-link">About</a>
            <a class="navbar-link" href="#services-link">Services</a>
            <a class="navbar-link" href="#works-link">Works</a>
            <a class="navbar-link" href="contact">Contact</a>
            <% } %>
        </div>
    </div>

</nav>