<%- include('./layout') %>

<div class="about-container">
    <div class="about-image-container">
        <img class="about-image" src="images/profile.png" alt="">

    </div>
    <div class="about-text-container">
        <p class="about-text">Hi, I'm <span>Adeyemi</span>,lorem
            ipsum Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Reprehenderit eum culpa iure illo vel voluptatum voluptate voluptates
            possimus ea. Enim impedit vitae ducimus rem consequuntur, temporibus eligendi voluptas doloribus recusandae.
        </p>
        <div class="about-resume-button">
            <a href="http://">View Resume</a>
        </div>
    </div>
</div>
<hr class="about-hr">


<div class="services-container">
    <h3>Services</h3>
    <div class="services">
        <h4 class="services-heading">Mobile Application Development</h4>
        <img class="services-img" src="images/development.png" alt="mobile phone">
        <p class="services-stacks">Stacks</p>
        <p class="services-p"> Dart, Flutter, Firebase</p>


    </div>

    <hr class="about-hr">


    <div class="services">
        <h4 class="services-heading">Web Development</h4>
        <img class="services-img" src="images/coding.png" alt="computer">
        <p class="services-stacks">Stacks</p>
        <p class="services-p">Html,Css,Javascript,
            Express.js</p>

    </div>
</div>
<!-- check here for the hr -->
<hr class="works-hr about-hr">

<div class="works-container">
    <h3>Works</h3>
    <div class="works">
        <p>Project:<Span> Chow's Delivery</span>
        </p>
        <div class="works-img">
        </div>

        <p> A food delivery mobile app
            where users can place orders for their favourite meals
            and get it delivered.
            Solely written by me.
        </p>
        <div class="works-project-container">
            <p>Ongoing Project</p>
            <div class="fonts">
                <i class="fab fa-github"></i>
            </div>
        </div>

    </div>

    <div class="works">
        <p>Project:<Span> Chow's Delivery</span>
        </p>
        <div class="works-img">
        </div>

        <p> A food delivery mobile app
            where users can place orders for their favourite meals
            and get it delivered.
            Solely written by me.
        </p>
        <div class="works-project-container">
            <p>Ongoing Project</p>
            <div class="fonts">
                <i class="fab fa-github"></i>
            </div>
        </div>

    </div>

    <div class="works">
        <p>Project:<Span> Chow's Delivery</span>
        </p>
        <div class="works-img">
        </div>

        <p> A food delivery mobile app
            where users can place orders for their favourite meals
            and get it delivered.
            Solely written by me.
        </p>
        <div class="works-project-container">
            <p>Ongoing Project</p>
            <div class="fonts">
                <i class="fab fa-github"></i>
            </div>
        </div>

    </div>

</div>



</body>

</html>