<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/contact.css">
    <title><%- title %> </title>
</head>

<body>
    <%-include('./partials/navbar')%>
    <form action="/" method="">
        <div class="contact-form">
            <label for="fname"> What's your first name?</label>
            <input type="text" name="first name" id="">
            <label for="fname"> Last name</label>
            <input type="text" name="first name" id="">

            <label for="contact">Phone number</label>
            <input type="number" name="phone" id="">

            <label for="email"> Email</label>
            <input type="email" name="email" id="">

            <label for="message"> What's your message?</label>
            <textarea name="message" id="" rows="5"></textarea>
            <div class="contact-button-container">
                <button class="contact-button" type="submit">Send</button>
            </div>
        </div>
    </form>
    <%-include('./partials/footer')%>
</body>

</html>