<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/general.css">
    <title><%- title %> </title>
</head>

<body>
    <div class="home-container">
        <div class="welcome-container">
            <div class="home-image">
                <img src="images/code.png" alt="">
            </div>

            <h5><dfn><span>Hi, I'm</span>Adeyemi</dfn></h5>
            <i>(Noun)</i>
            <p> Highly Exceptional,entusiastic individual,
                Eager to contribute to team's success.Passionate about
                building products that serve millions of users
            </p>
        </div>
        <div class="welcome-button-container">
            <a class="welcome-button" href="about">Take Me There</a>
        </div>



    </div>
    <!-- <%-include('./partials/footer')%> -->

</body>

</html>