<%- include('./layout') %>

<!-- <main> -->
<div class="home-container">
    <div class="welcome-container">
        <h5><dfn>Adeyemi</dfn></h5>
        <i>(Noun)</i>
        <p> Highly Exceptional,entusiastic individual,
            Eager to contribute to team's success.Passionate about
            building products that serve millions of users
        </p>
    </div>
    <div class="welcome-button-container">
        <a class="welcome-button" href="about">Take Me There</a>
    </div>



</div>


<!-- </main> -->

</body>

</html>