<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/index.css">
  <link rel="stylesheet" href="stylesheets/navbar.css">
  <script src="https://kit.fontawesome.com/ac8dc8b171.js" crossorigin="anonymous"></script>
  <title><%- title %> </title>
</head>

<body>
  <%-include('./partials/navbar')%>
  <div id="about-link" class="about-container">
    <div class="about-image-container">
      <img class="about-image" src="images/profile.png" alt="">

    </div>
    <div class="about-text-container">
      <p class="about-text-name">Adepoju Adeyemi Joshua</p>
      <i>Software Engineer</i>
      <p class="about-text"> ipsum Lorem ipsum dolor sit,amet consectetur adipisicing elit. Reprehenderit eum culpa iure
        illo vel voluptatum voluptate voluptates
        possimus ea. Enim impedit vitae ducimus rem consequuntur, temporibus eligendi voluptas doloribus
        recusandae.
      </p>
      <div class="about-resume-button">
        <a href="">View Resume</a>
      </div>
    </div>
  </div>


  <hr class="about-hr">


  <div class="services-container">
    <h3 id="services-link">Services</h3>
    <div class="services">
      <h4 class="services-heading">Mobile Application Development</h4>
      <img class="services-img" src="images/development.png" alt="mobile phone">
      <p class="services-stacks">Stacks</p>
      <p class="services-p"> Dart, Flutter, Firebase</p>


    </div>

    <div class="services">
      <h4 class="services-heading">Web Development</h4>
      <img class="services-img" src="images/coding.png" alt="computer">
      <p class="services-stacks">Stacks</p>
      <p class="services-p">Html,Css,Javascript,
        Express.js</p>

    </div>
  </div>


  <hr class="works-hr about-hr">


  <div id="works-link" class="works-container">
    <h3>Works</h3>

    <div class="works">
      <div class="works-image">
        <img src="images/cart.png" alt="">
      </div>

      <div class="works-content">
        <p>Project:<Span> Chow's Delivery</span>
        </p>
        <p> A food delivery mobile app
          where users can place orders for their favourite meals
          and get it delivered.
          Solely written by me.
        </p>
        <div class="works-project-container">
          <p>Ongoing Project</p>
          <div class="fonts">
            <i class="fab fa-github"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="works">
      <div class="works-image">
        <img src="images/space.png" alt="">
      </div>

      <div class="works-content">
        <p>Project:<Span> Chow's Delivery</span>
        </p>
        <p> A food delivery mobile app
          where users can place orders for their favourite meals
          and get it delivered.
          Solely written by me.
        </p>
        <div class="works-project-container">
          <p>Ongoing Project</p>
          <div class="fonts">
            <i class="fab fa-github"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="works">
      <div class="works-image">
        <img src="images/cho.png" alt="">
      </div>

      <div class="works-content">
        <p>Project:<Span> Chow's Delivery</span>
        </p>
        <p> A food delivery mobile app
          where users can place orders for their favourite meals
          and get it delivered.
          Solely written by me.
        </p>
        <div class="works-project-container">
          <p>Ongoing Project</p>
          <div class="fonts">
            <i class="fab fa-github"></i>
          </div>
        </div>
      </div>
    </div>


  </div>


  <%-include('./partials/footer')%>

</body>

</html>