<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@300;400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/index.css">
  <link rel="stylesheet" href="stylesheets/navbar.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <script src="https://kit.fontawesome.com/ac8dc8b171.js" crossorigin="anonymous"></script>
  <title><%- title %> </title>
</head>

<body>
  <%-include('./partials/navbar')%>

  <div id="about-link" class="about-container">

    <div class="about-image-container">
      <img class="about-image" src="images/code.PNG" alt="">

    </div>
    <div class="about-text-container">
      <p class="about-text-name">Adepoju Adeyemi Joshua</p>
      <i>Software Engineer</i>
      <p class="about-text"> I am a software engineer who loves crafting technological
        solutions with both web and mobile application technologies.My current stacks are Javascript,
        Express.js,Html,Css, Dart,Flutter.
      </p>
      <div class="about-resume-button">
        <a href="cv/resumeee.pdf" target="blank">View Resume</a>
      </div>
    </div>
  </div>


  <hr class="about-hr">

  <a id="services-link"></a>



  <div class="services-container">


    <h3>Services</h3>


    <div class="services works-transition">
      <h4 class="services-heading">Mobile Application Development</h4>
      <img class="services-img" src="images/development.png" alt="mobile phone">
      <p class="services-stacks">Stacks</p>
      <p class="services-p"> Dart, Flutter, Firebase</p>


    </div>

    <div class="services works-transition">
      <h4 class="services-heading">Web Development</h4>
      <img class="services-img" src="images/coding.png" alt="computer">
      <p class="services-stacks">Stacks</p>
      <p class="services-p">Html,Css,Javascript,
        Express.js</p>

    </div>
  </div>


  <hr class=" works-hr about-hr">

  <a id="works-link"></a>
  <div class="works-container">

    <h3>Works</h3>




    <div class="works-wrapper">



      <div class="works works-transition">
        <div class="works-image">
          <img src="images/cart.png" alt="">
        </div>

        <div class="works-content">
          <p>Project:<Span class="works-name"> Firebase Cart Cloud Functions</span>
          </p>
          <p class="works-description"> Firebase cloud functions that perform specific actions related
            to a shopping cart, adding to cart, calculating total amount, performing actions in
            the databse when an action is triggered. Written solely by me in typescript.
          </p>
          <div class="works-project-container">
            <p></p>
            <div class="fonts">
              <a href="https://github.com/The-indigo/cart-firebase" target="blank"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="works works-reverse works-transition">
        <div class="works-image">
          <img src="images/rentals.png" alt="">
        </div>

        <div class="works-content">
          <p>Project:<Span class="works-name"> Computer Rentals</span>
          </p>
          <p class="works-description">E-commerce computer rental web app built with Angular and consuming
            the backend Api data i wrote. It includes authentication mechanisms, dynamically displaying data and auth
            guard.
          </p>
          <div class="works-project-container">
            <p></p>
            <div class="fonts">
              <a href="https://rentages.vercel.app/" target="blank"><i class="fa fa-link"></i></a>

              <a href="https://github.com/The-indigo/rentages" target="blank"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>




      <div class="works works-transition">
        <div class="works-image">
          <img src="images/cho.png" alt="">
        </div>

        <div class="works-content">
          <p>Project:<Span class="works-name"> Chow's Delivery</span>
          </p>
          <p class="works-description"> A food delivery mobile app
            where users can place orders for their favourite meals
            and get it delivered.
            Solely written by me with flutter.
          </p>
          <div class="works-project-container">
            <p>Ongoing Project</p>
            <div class="fonts">
              <a href="https://github.com/The-indigo/chows-delivery" target="blank"><i class="fab fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>


    </div>



  </div>




  </div>


  </div>


  <%-include('./partials/footer')%>

  <script src="javascripts/observer.js"></script>

</body>

</html>