<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="stylesheets/general.css">
  <link rel="stylesheet" href="stylesheets/home.css">
  <link rel="stylesheet" href="stylesheets/about.css">
  <script src="https://kit.fontawesome.com/ac8dc8b171.js" crossorigin="anonymous"></script>
  <title><%-title%></title>


</head>

<body>
  <nav>
    <div class="navbar-container">
      <div>
        <img class="logo-img" src="images/wave.png" alt="Logo">
      </div>
      <div class="navbar-link-container">
        <a class="navbar-link" href="/">Home</a>
        <a class="navbar-link" href="about">About</a>
        <a class="navbar-link" href="services">Services</a>
        <a class="navbar-link" href="projects">Works</a>
        <a class="navbar-link" href="contact">Contact</a>
      </div>
    </div>

  </nav>