.about-container {
    padding: 0 14px;
    box-sizing: border-box;
    margin-top: 1rem;
    text-align: center;
}

.about-image-container {
    width: 11rem;
    height: 11rem;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 50%;
}

.about-image {
    width: 100%;
    height: 100%;
}

.about-text {
    line-height: 1.6;
}

.about-text-container a {
    text-decoration: none;
    border: 2px solid #4FBDBA;
    padding: 0.5rem;
    color: #4FBDBA;
}

.about-resume-button {
    margin: 2rem;
}

.about-hr {
    border-bottom: none;
    border-color: #4FBDBA;
    width: 50%;
}

.fonts {
    margin-top: 1.2rem;
}


.services-container {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
    align-items: center;

}

.services-heading {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1.1px;
}

.services {
    background-color: #35858B;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: #072227;
    padding-bottom: 1rem;
}

.services-img {
    width: 25%;
}

.services-p {
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1.1px;

}


.services-stacks {
    margin-bottom: 0;
    color: white
}

.works {
    width: 90%;
    padding: 1.5rem;
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: 1.1px;
    background-color: #01201f;
    margin-bottom: 1rem;

}

.works-hr {
    margin-top: 3rem;
}

.works-container {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
    align-items: center;
}

.works-project-container {
    display: flex;
    justify-content: space-between;
}