.about-container {
    padding: 0 14px;
    box-sizing: border-box;
    margin-top: 1rem;
    text-align: center;
}

.about-image-container {
    width: 11rem;
    height: 11rem;
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 50%;
}

.about-image {
    width: 100%;
    height: 100%;
}

.about-text {
    line-height: 1.6;
}

.about-text-container a {
    text-decoration: none;
    border: 2px solid #4FBDBA;
    padding: 0.5rem;
    color: #4FBDBA;
}

.about-resume-button {
    margin: 2rem;
}

.about-hr {
    border-bottom: none;
    border-color: #4FBDBA;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.services-heading {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1.1px;
}

.services {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: #4FBDBA;
    padding-bottom: 1rem;
}

.services-img {
    height: 12rem;
    width: 12rem;
}

.services p {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    letter-spacing: 1.1px;
}

.services-stacks {
    margin-bottom: 0;
    color: grey
}