/**
 **********************************File Name: contact.css**********************************
 ***********************************Student Name: ADEPOJU ADEYEMI JOSHUA**********************************
 ***********************************Student Number: 301158322**********************************
 ***********************************Date: 5/02/2022**********************************
 ***************************************************************************************************************************************
 * */

body,
html {
    background-color: #072227;
    margin: 0;
    max-width: 100%;
    color: white;
    height: 100%;
}

.contact-button {
    background-color: #4FBDBA;
    border: none;
    border-radius: 0.7rem;
    color: white;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0.9rem;
    cursor: pointer;
}


.contact-form {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin-top: 1.4rem
}

.contact-info {
    margin-top: 2rem;
    text-align: center;
}

.fab {
    text-decoration: none;
    color: #4FBDBA;
    margin-right: 4rem;
}

.fab:hover {
    color: grey;
}

textarea:focus,
input:focus {
    outline: none;
}

input {
    padding: 0.6rem;
    margin-bottom: 1rem;
}

input,
select {
    font-size: 100%;
}

textarea,
select {
    font-size: 100%;

}

label {
    margin-bottom: 0.4rem;
}

@media screen and (min-width:750px) {
    .contact-form {
        width: 40%;
        margin: 5rem auto 0 auto;
    }
}