/**
 **********************************File Name: footer.css**********************************
 ***********************************Student Name: ADEPOJU ADEYEMI JOSHUA**********************************
 ***********************************Student Number: 301158322**********************************
 ***********************************Date: 5/02/2022**********************************
 ***************************************************************************************************************************************
 * */

footer {
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1.1px;
}

hr {
    border-bottom: none;
    border-color: #4FBDBA;
}